@font-face {
    font-family: "Kosugi";
    src: url(/SRC/typo/Kosugi-Regular.ttf);
}

body {
    font-family: "Kosugi", sans-serif;
    background-color: #FFE797;
    margin: 0;
    padding: 0;
    width: 340px;
    height: 430px;

    scroll-behavior: smooth;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 170px 80px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
}

#cel1 {
    grid-area: 1 / 1 / 2 / 3;
    border: #703B3B 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cel2 {
    grid-area: 2 / 1 / 3 / 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cel3 {
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    justify-content: center;
    align-items: center;
}



