@font-face {
    font-family: "Kosugi";
    src: url(/SRC/typo/Kosugi-Regular.ttf);
}

body {
    font-family: "Kosugi", sans-serif;
    background-color: #FFE797;
    margin: 0;
    padding: 5px;

    scroll-behavior: smooth;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainbox {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: 170px 60px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
}

#cel1 {
    grid-area: 1 / 1 / 2 / 3;
    border: #703B3B 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    justify-content: flex-start;
}

#cel1 #txt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;

    font-size: 12px;
}

#selected-text {
    width: 350px;
    height: 100px;
}

button {
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    gap: 20px;

    font-family: "Kosugi", sans-serif;
    color: #703B3B;
}

#add-to-basket {
    background-color: #FCB53B;
    border: #703B3B 1px solid;
    padding: 5px 15px;
    user-select: none;
}

#add-to-basket:hover {
    background-color: #FFA500;
    cursor: pointer;
    box-shadow: #703B3B 2px 2px 5px;
}

#cancel-button {
    background-color: #FFE797;
    border: #703B3B 1px solid;
    padding: 5px 15px;
    user-select: none;
}

#cancel-button:hover {
    background-color: #FFD966;
    cursor: pointer;
    box-shadow: #703B3B 2px 2px 5px;
    padding: 5px 15px;
}

#cel2 {
    grid-area: 2 / 1 / 3 / 2;
    border: #703B3B 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cel3 {
    grid-area: 2 / 2 / 3 / 3;
    border: #703B3B 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: "Kosugi", sans-serif;
    color: #703B3B;
    background-color: #FFE797;
    border-radius: 20px;
    border: #A72703 1px solid;
    padding: 5px;
}



