@font-face {
    font-family: "Kosugi";
    src: url(/SRC/typo/Kosugi-Regular.ttf);
}

body {
    font-family: "Kosugi", sans-serif;
    background-color: #FFE797;
    margin: 0;
    padding: 5px;

    scroll-behavior: smooth;
    
    overflow-x: hidden;
}

.filtres {
    position: sticky;
    margin: auto;
    top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 1000;

    justify-content: center;
    align-items: center;
}

.open {
    position: fixed;
    top: 20px;
    right: 20px; 
    padding: 10px 15px;
    background-color: #703B3B;
    color: #FFE797;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    width: 8%;
    transition: 0.3s;

}

.open:hover {
    background-color: #5a2e2e;
    user-select: none;
}

.close {
    position: fixed;
    color: #703B3B;
    font-size: 20px;
    padding: 20px;
    border: none;
    background-color: #FFF3C4;
    cursor: pointer;
    user-select: none;
    z-index: 100;
}

.close:hover {
    transition: 0.3s;
    color: #84994F;
}

#panier {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}

.panneau-header {
    padding: 30px;
    border-bottom: 2px solid #f5e4a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

/*.panneau {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: #FFF3C4;

    transform: translateX(100%);
    transition: 0.4s ease-in-out;
}*/

.panneau {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background-color: #FFF3C4;
    box-shadow: -4px 0 20px rgba(112, 59, 59, 0.2);
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}


.panneau.active {
    transform: translateX(0);
}

.infos {
    padding: 30px;
    text-align: center;
    color: #703B3B;
    line-height: 1.8;
    font-size: 16px;
}

/* Container principal */
#items-container {
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

.basket-item {
    position: absolute;
    width: 250px;
    background: #f5e4a8;
    border: 1px solid #703B3B;
    padding: 12px;
    font-size: 14px;
    color: #333;

    flex-wrap: wrap;
    cursor: pointer;
}

.basket-item:hover {
    transition: 1s ease;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    z-index: 100;
}

