@font-face {
    font-family: "Kosugi";
    src: url(/SRC/typo/Kosugi-Regular.ttf);
}

body {
    font-family: "Kosugi", sans-serif;
    background-color: #f3f1b4;
    margin: 0;
    padding: 0;
    width: 340px;
    height: 430px;

    scroll-behavior: smooth;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: 160px 160px 80px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding: 10px;
}


#cel1 {
    grid-area: 1 / 1 / 2 / 2;
    border: #703B3B 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cel1 img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    display: block;
}

.color {
    color: #A72703;
}

#link {
    cursor: pointer;
    text-decoration: underline;
}

#link:hover {
    color: #84994F;
}

#cel2 {
    grid-area: 1 / 2 / 2 / 3;
    border: #703B3B 1px solid;
    
    display: flex;
    justify-content: center;
    text-align: justify;
    text-transform: uppercase;
    color: #703B3B;
    

    padding: 10px;
    font-size: 14px;
}

#cel3 {
    grid-area: 2 / 1 / 3 / 3;
    border: #703B3B 1px solid;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    text-transform: uppercase;
    color: #703B3B;
}

#cel3 #title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
    padding: 10px;

    font-size: 14px;
}

h2 {
    font-size: 14px
}

#tuto ol{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 5px;
    font-size: 12px;
    gap: 10px;
    margin-left: 13px;
}

li {
    width: 30%
}

#cel4 {
    grid-area: 3 / 1 / 4 / 2;
    border: #703B3B 1px solid;
    align-items: center;
}

#cel4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#cel5 {
    grid-area: 3 / 2 / 4 / 3;
    border: #703B3B 1px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: "Kosugi", sans-serif;
    background-color: #CDCC88;
    transition: 0.5s;
    color: #A72703;
    font-size: 14px;
    text-transform: uppercase;
    border: none;

    width: 140px;
    height: 30px;
    
    cursor: pointer;
    user-select: none;
}

button:hover {
    background-color: #AFC669;
}
